
@media (min-device-width: 380px max-device-Width:1024px
){

*{
  margin: 0;
  padding:0;
  box-sizing:border-box;
}

body{
   font-family :'roboto' sans-serif;
   line-height:1.4;
   position: relative;
   background-color: #41B3A3;

}


.BlogContainer{
  margin: 10 25px 40px 25px;
  display: grid;
  height:

}
.imageUrl{
  width: 100%;
  height:400px;
  object-fit:cover;
  border-radius: 1.5%;


}

.Blogbox{

  margin-top: 10px;
  display: flex;
}

.BlogBox p {
   fontsize:1 rem;
   display: flex;






 }
.BlogBox h3 {
   fontsize:4rem;


}








}
