
@media only screen and (min-width: 768px)
){

*{
  margin: 0;
  padding:0;
  box-sizing:border-box;

}

body{
   font-family :'roboto' sans-serif;
   line-height:1.4;
   position: relative;

}


.imageUrl{
  display: flex;

}

.city{
  font-size: 16px;
  font-weight: 400;
  font-family :'roboto' sans-serif

}
.Blogbox{

  margin-top: 10px;
  display: flex;
  column-count: 2;
}

.BlogBox p {
   fontsize:1 rem;
   display: flex;
   font-style: normal;
   font-weight: 200;
   width: 500px;
   font-family :'roboto' sans-serif



 }
.BlogBox h3 {
   fontsize:4rem;


}








}
