

body{

  background-color: #41B3A3;
}




.Home{
      color: rgba(0,0,0,1);
      text-transform: none;
      line-height: 1.1;
      letter-spacing: 0em;
      font-size: 70px;
      text-align: left;
      font-family: 'Poynter Bold';
      font-weight: 400;
      font-style: normal;

}
