@media only screen and (min-width: 768px) and (max-width: 1024px)  {

body{

  height: 100vh;
}

.BlogContainer{
        column-count: 3;
        padding: 0 12px;

}

.BlogBox{
  display: flex;
  column-count: 3;
  padding: 0 12px;

}

}
