
*{

  margin: 0;
  padding:0;
  box-sizing: 0;

}

@media only screen and (min-width: 768px)   {





.youtube {
  color: ##FF0000;
  position: sticky;

}

.facebook {
  color: #4968ad;
  position: sticky;

}

.twitter {
  color: #49a1eb;
  position: sticky;

}

 .Linkedin {
  color: #49a1eb;
  position: sticky;
}

.instagram {
  color: black;
  position: sticky;

}

a.hover {
  transform: translateY(-2px);
}

.top-right{
  padding: 20px 20px;
}

.SocialFeed a {
  transition: transform 250ms;
  margin-right: 20px;
}

}
