@media (min-device-width: 380px max-device-Width:1024px
){

body{
   background-color: #41B3A3;

}

.h1{
  display: flex;
  height: 100vh;
  font-size: 36px;
  color: black;
  padding: 0px;
  justify-content:center;
  margin-top: 40px;
}

#InputContainer {
  display: flex;
  flex-direction: column;
  margin: 100px 300px 100px 300px;
  width: 500px;
}


.Post input{
  width:100%;
  color:#5956ef;
  padding-top:20px;
  border:none;
  outline: InputContaine;
  font-size: 16px;

}



}
