.App {
  text-align: center;
}

.Nav{

  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height:10vh;
  background: #41B3A3;
  color: white;


}

.NavLink{
  width: 50%;
  display:flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
