
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-device-width: 760px){




.Container {
  display: grid;
  grid-template-columns: 1fr 6fr 1 ;
  grid-template-rows: 1 6fr 1fr;
  gap: 2px 2px;
  grid-template-areas:
    "logo header top-right"
    " content content content "
    "footer footer footer";
}




.logo{
  grid-area: logo;
  font-size: 36px;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  position: sticky;
  top:0;
  padding: 10px;



}


.header{
  grid-area:header;
  position: sticky;
  font-family :'roboto' sans-serif;
  font-size: 28px;
  justify-content: center;
  align-items: center;
  font-weight: 600;


}

.right-top{
  grid-area: right-top;
  align-items: center;
  display: flex;
  flex-direction: column;


}



.content{
  grid-area:content;
  height: 100vh;

}

.footer{
  grid-area: footer;
  position:relative;
  display: flex;
  bottom: 0;
  justify-content: center;

}

.FooterPar{
  font-family :'roboto' sans-serif;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}

}
