
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  decoration:none;
  list-style: none;
}

@media only screen and (min-width: 768px){
body{
  font-family:montserra;
}
.Navigation{
  background-color:#white;
  height:65px;
  width:100%;
  display:flex;
  padding: 0 20px;
  justify-content: space-between;
  padding: 18px 10px;

  }


.logo{
   font-size: 35px;
   line-height:80px;
   padding:15px 0;
   font-weight: 880;
   font-weight:bold;

}
.Link{
  display: flex;
  justify-content: space-around;
  flex-flow: row nowrap;
}

.Link li{
  margin-right: 10px;

}













}
